%h2 Who we are...

%br
%p
	Rebel Outpost is a collective developers based out of the Phoenix, AZ area.  We are a member of the RebelHold family.  To describe RebelHold, I will take the quote straight from the RebelHold Facebook page:
%br

	%blockquote
		%p
			Rebelhold is a workers collective, completely worker owned and run.
		%h3
			Mission
		%p
			To create a mass of workers on equal grounds with each other who are taken care of completely; to pour ourselves in to improving the communities around us through training, through direct action, and through charity as needed; to communicate well with others; and to make high quality software that we can be proud of.
		%h3
			Description
		%p
			RebelHold was created to equalize the playing ﬁeld for workers, providing full health care (with no copays), paid training, equal salaries, and to meet the physical and social needs of communities all around us. We believe that putting the means of production in the hands of the workers is a ﬁrst step, and that training new people to be able to work in whatever capacity they can is valuable. Every worker is an owner, all decisions are made by consensus, and every worker has the combined responsibility of training others. We are highly motivated to taking care of the needs of others through this process; and open to other processes to help.

%p
	As we are a collective of developers, we have a wide variety of talent to draw from.  There are several guys here in Arizona in addition to members of other RebelHold outposts.


%h3
	Some of our regulars....
%br
.row
	.span99
		%img(src= 'https://twimg0-a.akamaihd.net/profile_images/1571491171/bobpic_reasonably_small.jpg' height='75' width='75')	

	.span10
		%p
			Bob Roberts got his start in programming using Python and switched to Ruby on Rails for web application development. He was most recently the lead developer on a major Ruby on Rails project. Bob is also a big participant in the local Ruby community, always attending the Ruby::AZ meet up group. Bob also loves to teach others RoR and is always looking for new interns to train.
%br
.row
	.span10
		%p
			Ricky Carlino joined the Rails community to develop a range of web application products for clients after returning from 7 years as an IT specialist in the military. Outside of work, Rick is working towards a degree in Korean and business management as well as several software projects related to computer aided language learning.

	.span99
		%img(src= 'https://twimg0-a.akamaihd.net/profile_images/1721120756/me_reasonably_small.png' height='75' width='75')	
%br
.row
	.span99
		%img(src= 'https://twimg0-a.akamaihd.net/profile_images/2207164919/me_reasonably_small.jpg' height='75' width='75')	

	.span10	
		%p
			Steve Young has 6 years of C/C++ UNIX/Windows (Qt/mfc) applications with korn, bash and python scripting and two years of development with php utilizing multiple JavaScript frameworks, HTML, CSS, SASS, Ruby and Rails 3. Through the years, Steve has utilized Oracle(PL/SQL/), SQL Server 2000, MySQL, SQLite, Access and Mongo databases. Steve is also involved in iOS development.

%br
%br
.row
	%h4.center
		From the very beginning of the development process we work with our customers to identify their needs and quickly get a rough framework of the application to them. By iterating off of this, customers get the exact end result they want, in the most efficient manner. For more information on how we do Agile, check out how we do it.