.hero-unit
	%h1 
		Kick-Ass Web Development
	%p 
		We make kick-ass applications using Ruby on Rails and other modern web technologies, through Agile test driven development.
	
	%a{href: "/process", class: 'btn btn-primary btn-large'}
		Read more

%h1
	Ruby on Rails
%p
	Rebel Outpost uses the most cutting edge web technology and is constantly refining our software toolkit so that we can create great tools and applications for ourselves and our customers. Ruby on Rails, HAML, SASS, MongoDB, modern Javascript libraries, it’s all top of the line technologies, and our entire team has standardised on a single set of tools, which are stored in our 
	%a{href: "https://github.com/rebelhold/rebel-foundation"}>
		Foundation GitHub repository.


%br
%section
	.row
		.span5
			%h3
				Who is Rebel Outpost?
			%p
				Rebel Outpost is a member of the Rebelhold family living and working out of Phoenix, Arizona. Rebelhold is a workers collective, completely owned and run by some of the best developers across the nation and world.
			%a{href: "/about", class: 'btn btn-primary btn-small'}
				Learn more

		.span5.offset1
			%h3
				Want to know more?
			%p
				We love to talk about web applications.  If you have any questions or just want to bounch some ideas of of us, please call (913) REBEL01 or
				%a{href: 'mailto:lets-talk@rebel-outpost.com'}>
					email us.

			%a{href: "/contact", class: 'btn btn-primary btn-small'}
				Contact us